################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tennis0518/.vs/Tennis0518/v15
/Tennis0518/obj/Debug
/Tennis0518/packages
/Tennis0518/bin/Debug
